// コントローラから渡されるイベント情報
var schedules = [
    <% applications.each_with_index do |application| %>
        <% start_time = application.schedule.datetime %>
        <% end_time = start_time + application.schedule.experiment.duration * 60 %>
        {
            date:     '<%= application.schedule.datetime.strftime('%m-%d-%Y') %>',
            title:    '<%= get_title(application.status, application.schedule.experiment.name) %>',
            start:    '<%= application.schedule.datetime.to_s(:time) %>',
            end:      '<%= (start_time + application.schedule.experiment.duration * 60).to_s(:time) %>',
        },
    <% end %>
    <% events.each_with_index do |event| %>
        {
            date:     '<%= event.start_at.strftime('%m-%d-%Y') %>',
            title:    '<%= "#{event.name}【#{event.experiment.name}】" %>',
            start:    '<%= event.start_at.to_s(:time) %>',
            end:      '<%= (event.start_at + event.duration * 60).to_s(:time) %>',
        },
    <% end %>
];

// カレンダーに表示するイベント情報を日付ごとにまとめる
var dated_schedules = (function() {
    var ret = {};
    for(var s of schedules) {
        var e = {
            content:
            '<a class="hint--top  hint--large" data-hint="test">' + s.title + '</a>',
            startTime: s.start,
            endTime:   s.end,
        };
        if(ret[s.date]) {
            ret[s.date].push(e)
            ret[s.date].sort(function(a, b) {
                var aDate = Date.parse('2017/01/01 ' + a.startTime + ':00');
                var bDate = Date.parse('2017/01/01 ' + b.startTime + ':00');
                if(aDate < bDate)      return -1;
                else if(aDate > bDate) return 1;
                else                   return 0;
            });
        }
        else {
            ret[s.date] = [e];
        }
    }
    return ret;
})();

$(function() {
    // カレンダー要素の削除(「戻る」でのカレンダー重複表示対策)
    $('#calendar').html('');

    var cal = $('#calendar').calendario({
        weeks: ['日', '月', '火', '水', '木', '金', '土'],
        weekabbrs: ['日', '月', '火', '水', '木', '金', '土'],
        months: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
        monthabbrs: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
        zone: '+09:00',
        fillEmpty: false,
        caldata: dated_schedules,
        checkUpdate: false,
    });
    updateMonthYear();
    $('#custom-next').on('click', function() {
        cal.gotoNextMonth(updateMonthYear);
    });
    $('#custom-prev').on('click', function() {
        cal.gotoPreviousMonth(updateMonthYear);
    });

    function updateMonthYear() {
        $('#custom-year').html(cal.getYear() + '年');
        $('#custom-month').html(cal.getMonthName());
    }
});
