<%= form_for(:session, url: form_for_path, html: { class: "form-horizontal" }) do |f| %>

  <%= form_email_field f, :email, 'メールアドレス' %>
  <%= form_password_field f, :password, 'パスワード', description: link_to('(パスワードを忘れた)', reset_path) %>

  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="checkbox">
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          ログイン状態を保存する
        <% end %>
      </div>
    </div>
  </div>

  <%= form_submit f, 'ログイン' %>
<% end %>

<%= javascript_include_tag 'validation' %>
