<% provide(:title, '実験参加申請') %>
<h1><%= yield(:title) %></h1>

<div class="panel panel-primary">
  <div class="panel-heading"><%= simple_format(h(@experiment[:title])) %></div>
  <div class="panel-body">
    <b>応募条件</b><br>
    <%= simple_format(h(@experiment[:requirement])) %>
    <hr>
    <%= simple_format(h(@experiment[:describe])) %>
  </div>
</div>

<p>希望日時を選択し、「参加申請」をクリックしてください。</p>
<div id="calendar"></div>

<%= hidden_field_tag :experiment, @experiment[:id] %>

<%= button_tag '参加申請', onclick: "submit('#{applications_path}')", class: "form-control btn btn-primary" %>
<%= debug(@slots) %>

<script type="text/javascript">
  // カレンダーに表示する日時候補
  events = [
    <% @slots.each_with_index do |slot, idx| %>
      {
        id:       '<%= idx %>',
        selected: false,
        title:    '<%= "#{slot[:start].to_s(:time)} ～ #{slot[:end].to_s(:time)}" %>',
        start:    '<%= slot[:start].to_s %>',
        end:      '<%= slot[:end].to_s %>',
        color:    'gray',
      },
    <% end %>
  ];

  $(function(){
    // カレンダーの表示
    $('#calendar').fullCalendar({
      // 日本語表記にする
      lang: 'ja',
      // イベントソース
      eventSources: [{ events: events }],
      // ヘッダーのタイトルとボタン
      header: {
        left: 'today prev,next',
        center: 'title',
        right: 'agendaWeek month',
      },
      // 週・日表示での時間フォーマット
      slotLabelFormat: 'H:mm',
      // イベントの時間表示フォーマット(イベント名で時間を指定するため空文字列にする)
      timeFormat: ' ',
      // 「終日」を非表示
      allDaySlot: false,
      // イベントクリックイベント
      eventClick: function(event) {
        var id = event.id;
        events[id]['selected'] = !events[id]['selected'];
        event.selected = events[id]['selected'];
        if(event.selected) {
          event.title = "【選択】" + events[id]['title'];
          event.color = '#428bca';
        }
        else {
          event.title = events[id]['title'];
          event.color = 'gray';
        }
        $(this).text(event.title);
        $(this).css('background-color', event.color);
        $(this).css('border-color', event.color);
      },
    });
  });

  function submit (url){
    var selected = false;
    events.forEach(function(event) {
      if(event['selected']) {
        alert(event['start'] + ' ～ ' + event['end']);
        selected = true;
      }
    });
    if(!selected) {
      alert("日時を選択してください。");
      return;
    }
    $.post(url, {
      'experiment': <%= @experiment[:id] %>,
      'slots[]': events.filter(function(e) { return e['selected']; }).map(function(e) { return e['id']; })
    });
  }
</script>
