<% provide(:title, "#{@experiment.name}応募") %>
<h2><%= yield(:title) %></h2>

<div class="panel panel-primary">
  <div class="panel-heading"><%= simple_format(h(@experiment.name)) %></div>
  <div class="panel-body">
    <b>応募条件</b>
    <%= simple_format(h(@experiment.requirement)) %>
    <hr>
    <b>実験内容</b>
    <%= simple_format(h(@experiment.description)) %>
  </div>
</div>

<p>参加希望日時を以下のカレンダーから選択し、「応募する」をクリック(タップ)してください。</p>

<div class="custom-calendar-wrap custom-calendar-full">
  <div class="custom-header clearfix">
    <h3 class="custom-month-year">
      <span id="custom-year" class="custom-year"></span>
      <span id="custom-month" class="custom-month"></span>
      <nav>
        <span id="custom-prev" class="custom-prev"></span>
        <span id="custom-next" class="custom-next"></span>
      </nav>
    </h3>
  </div>
  <div id="calendar" class="fc-calendar-container"></div>
</div>

<div class="custom-submit">
  <%= button_tag '応募する', onclick: "submit('#{applications_path}')", class: "form-control btn btn-primary" %>
</div>

<script type="text/javascript">
    <%= render partial: 'applications/javascripts/new.js',
               locals: { schedules: @schedules, times: @times, experiment: @experiment } %>
</script>
