<p>
  <%= @member.name %> さん
</p>
<p>
  お疲れ様です。<br>
  西田研究室の実験担当者(自動送信)です。
</p>
<p>
  <%= @experiment.name %>への問い合わせがあったので連絡差し上げます。<br>
  返信は個人のメールからではなく、日程調整ページから行うことをオススメします。
</p>
<hr>
<p>
  【送信者】<br>
  <%= "#{@participant.name} (ID: #{@participant.id})" %>
</p>
<p>
  【件名】<br>
  <%= @inquiry.subject %>
</p>
<p>
  【本文】<br>
  <%= @inquiry.body %>
</p>
<br>
<p>
  ※このメールは送信専用です。
</p>
