<%= javascript_tag do %>
  var place_table = <%= raw places.to_json %>;
<% end %>
<script type="text/javascript" class="create_places_checkbox">
  <%= render partial: "experiments/javascripts/create_places_checkbox.js" %>
</script>

<%= form_for experiment, url: form_for_url, html: { class: "form-horizontal" } do |f| %>
  <%= render 'shared/error_messages', object: f.object if show_errors %>

  <%= hidden_field_tag :type, type %>
  <% if type == 'all' || type == 'profile' %>
    <%= form_date f, :zisshi_ukagai_date, '実施伺日', 1970, Date.today.year - 17 %>
    <%= form_text_field f, :name, '実験名', example: 'ほげのためのふが実験' %>
    <%= form_text_field f, :project_owner, 'プロジェクト責任者', example: '実際はadd可能なプルダウン？' %>
    <%= form_text_field f, :project_num, 'プロジェクト番号' %>
    <%= form_text_field f, :project_name, 'プロジェクト名' %>
    <%= form_text_field f, :budget, '予算科目' %>
    <%= form_text_field f, :creditor_code, '債主コード' %>
    <%= form_text_field f, :department_code, '部署コード' %>
    <%= form_collection_select f, :room_id, '実施場所', Room.all, :id, :name, prompt: "選択してください" %>
    <div class="form-group">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 checkbox">
        <ul id ="place_checkbox">
        </ul>
      </div>
    </div>
    <%= form_text_field f, :expected_participant_count, '予定人数' %>
    <%= form_text_field f, :duration, '時間数(単位はh)' %>
    <%= form_text_field f, :description, '実験概要' %>
    <%= form_date f, :schedule_from, '実施予定日(from)', 1970, Date.today.year - 17 %>
    <%= form_date f, :schedule_to, '実施予定日(to)', 1970, Date.today.year - 17 %>
  <% end %>
  <%= form_submit f, submit_label %>
<% end %>
