<p>
  <%= @participant.name %> 様
</p>

<p>
  お世話になっております。<br>
  京都大学 情報学研究科 西田研究室の実験担当者です。
</p>
<p>
  この度は実験へのご応募ありがとうございます。<br>
  以下の内容で承っております。
</p>
<p>
  【実験名】<br>
  <%= @experiment.name %>
</p>
<p>
  【実験日時】<br>
  <% @schedules.each do |s| %>
    <%= "#{s.datetime} ～ #{s.datetime + @experiment.duration * 3600}" %><br>
  <% end %>
</p>
<p>
  実験担当者が調整後、改めて採用に関するご連絡を差し上げます。<br>
  先着順での採用となるため、ご希望に添えない場合もございますのでご了承ください。
</p>
<p>
<%= @participant.name %>様の実験予定は下記URLから確認することが出来ます。
</p>
<%= link_to mypage_url, mypage_url %>
<p>
  それでは、今後ともよろしくお願いいたします。
</p>
<br>
<p>
  ※このメールは送信専用です。このメールに返信をいただきましても対応や回答返信は行っておりません。<br>
  ※実験に関するお問い合わせは、下記のURLからお願いいたします。
</p>

<%= link_to inquiries_new_url, inquiries_new_url %>

<p>
  ※その他ご不明な点は、別途記載の担当者連絡先までお願いいたします。
</p>