<%= form_for(inquiry, url: inquiries_new_path, html: { class: "form-horizontal" }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :confirming %>

  <% if inquiry.confirming.blank? %>

    <%= form_select f, :experiment_id, 'お問い合わせ先', experiments, selected: inquiry.experiment_id %>
    <%= form_text_field f, :subject, '件名', example: '実験日時変更について' %>
    <%= form_text_area f, :body, '本文', example: '4/1 10:00～を予定していましたが、12:00～に変更できますか？' %>
    <%= form_submit f, '内容を確認する' %>

  <% else %>
    <table>
      <tr>
        <th>お問い合わせ先</th>
        <td><%= name %></td>
      </tr>
      <tr>
        <th>件名</th>
        <td><%= inquiry.subject %></td>
      </tr>
      <tr>
        <th>本文</th>
        <td><%= inquiry.body %></td>
      </tr>
    </table>
    <%= f.hidden_field :experiment_id %>
    <%= f.hidden_field :subject %>
    <%= f.hidden_field :body %>
    <br>
    <p>以上の内容で問い合わせをします。</p>
    <%= form_submit f, '送信する' %>
  <% end %>
<% end %>
