<% provide(:title, "パスワードの再設定") %>
<h2><%= yield(:title) %></h2>

<%= form_for(@participant, url: update_reset_path(params[:id], html: { class: "form-horizontal" })) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field_tag :e, @participant.email %>

  <div class="form-group">
    <%= f.label :password, "新しいパスワード", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password, class: 'form-control validation', required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "新しいパスワード(確認)", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password_confirmation, class: 'form-control validation', required: true %>
    </div>
  </div>

  <div class="col-sm-offset-2 col-sm-8">
    <%= f.submit "更新する", class: "form-control btn btn-primary" %>
  </div>
<% end %>
