<% provide(:title, "パスワードの再設定") %>
<h2><%= yield(:title) %></h2>
<p>
  登録されたメールアドレスにパスワード再設定URLを送信します。
</p>

<%= form_for(:password_reset, url: reset_path, html: { class: "form-horizontal" }) do |f| %>
  <div class="form-group">
    <%= f.label :email, "メールアドレス", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.email_field :email, class: 'form-control validation', required: true %>
    </div>
  </div>

  <div class="col-sm-offset-2 col-sm-8">
    <%= f.submit "送信する", class: "form-control btn btn-primary" %>
  </div>
<% end %>

<%= javascript_include_tag 'validation' %>
