<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Nishida Lab.", root_path, id: "logo", class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in_participant? %>
          <li><%= link_to "マイページ", mypage_path %></li>
          <li><%= link_to "実験応募", applications_path %></li>
          <li><%= link_to "お問い合わせ", inquiries_new_path %></li>
          <li><%= link_to "送信履歴", inquiries_path %></li>
          <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
        <% elsif logged_in_member? %>
          <li><%= link_to "マイページ", member_mypage_path %></li>
          <li><%= link_to "ログアウト", member_logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
