<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Nishida Lab.", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in_participant? %>
          <li><%= link_to "マイページ", mypage_path %></li>
          <li><%= link_to "実験応募", applications_path %></li>
          <li><%= link_to "お問い合わせ", inquiries_new_path %></li>
          <li><%= link_to "送信履歴", inquiries_path %></li>
          <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>