<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - Nishida Lab.</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',  'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </div>
  <% if Rails.env.development? %>
    <%= debug(params) %>
    <%= debug("participant_id(session): #{session[:participant_id]}") %>
    <%= debug("participant_id(cookies): #{cookies.signed[:participant_id]}") %>
    <%= debug("remember_token(cookies): #{cookies[:remember_token]}") %>
    <%= debug("remember_token_digest: #{Participant.digest(cookies[:remember_token])}") %>
  <% end %>
</body>
</html>