<% provide(:title, '実験者マイページ') %>
<h2><%= yield(:title) %></h2>
<p>
  <%= "id: #{@member.id}, 名前: #{@member.name}" %>
</p>

<% if !@experiments.nil? %>
  <h3>実験一覧</h3>
  <% if @member.admin %>
    <% @experiments.each do |experiment| %>
      <p>
        <%= link_to "id: #{experiment.id}, 実験名: #{experiment.name}", experiment_path(experiment) %>
      </p>
    <% end %>
  <% end %>
<% end %>

<div class="custom-calendar-wrap custom-calendar-full">
  <div class="custom-header clearfix">
    <h3 class="custom-month-year">
      <span id="custom-year" class="custom-year"></span>
      <span id="custom-month" class="custom-month"></span>
      <nav>
        <span id="custom-prev" class="custom-prev"></span>
        <span id="custom-next" class="custom-next"></span>
      </nav>
    </h3>
  </div>
  <div id="calendar" class="fc-calendar-container"></div>
</div>

<div class="custom-submit">
  <%= button_tag '応募する', onclick: "submit(this, '#{applications_path}')", class: "form-control btn btn-primary" %>

</div>

<script type="text/javascript">
    <%= render partial: 'members/javascripts/show.js',
      locals: { schedules: @schedules, times: @times, experiments: @experiments } %>
</script>
